<<ion-header>
  <ion-navbar>
    <ion-title>
      Create Account
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" #name></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Surname</ion-label>
      <ion-input type="text" #surname></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Date of Birth</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" #username></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" #password></ion-input>
    </ion-item>

  </ion-list>
  <ion-item>
    <ion-label floating>Select your collage</ion-label>
    <ion-select [(ngModel)]="collage">
      <ion-option value="boland">BOLAND Collage</ion-option>
      <ion-option value="Boston">Boston Collage</ion-option>
      <ion-option value="tvet">TVET Collage</ion-option>
      <ion-option value="cti">cti Collage</ion-option>
      <ion-option value="uj">UJ</ion-option>
      <ion-option value="tuks">TUKS</ion-option>
    </ion-select>
  </ion-item>
  <div padding>
    <button block ion-button (click)="registerUser()">Register</button>
  </div>
</ion-content>

