page-feed {
  /*** new post ***/

  .new-post{
    margin: 20px 10px;
    padding-top: 1px;
    padding-bottom: 0px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-color: #fff;
  }

  .post-image{
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }

  .item-avatar{
    padding: 0px 10px 10px 10px;
    border-top: none;
    border-bottom: none;
    margin-top: 10px;
    min-height: 50px;
  }

  .profile-avatar{
    max-width: 50px;
    max-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 2px;
    padding:2px;
    background:#000;
  }
  .new-post-copy{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(153, 153, 153, 0.8);
    margin: -46px 0 4px 60px!important;
  }

  .tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: horizontal;
    -moz-flex-direction: horizontal;
    -ms-flex-direction: horizontal;
    flex-direction: horizontal;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    border-color: #b2b2b2;
    background-color: #f7f7f7;
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    color: #444;
    //position: absolute;
    //bottom: 0;
    z-index: 5;
    width: 100%;
    height: 49px;
    //border-style: solid;
    border-top-width: 1px;
    background-size: 0;
    line-height: 49px;
  }

  .tabs-icon-left{
    background-color: #f0f0f0;
    color: rgba(153, 153, 153, 0.8);
    border-top: 1px solid #e3e3e3 !important;
    height: 36px;
    line-height: 36px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    opacity: 1;
    color: rgba(153, 153, 153, 0.85);
    line-height: 35px;
  }
  .tab-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    overflow: hidden;
    max-width: 150px;
    height: 100%;
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    opacity: 0.7;
  }
  .item.tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }

  #avatar-title-id{
    font-size: 16px;
    font-weight: 400;
    color: rgba(153, 153, 153, 0.8);
    margin: -50px 0 4px 60px!important;
  }
  #timestamp-id{
    font-size: 14px;
    font-weight: 300;
    color: rgba(153, 153, 153, 0.8);
    margin: 0px 0 4px 60px!important;
  }

  .card-1{
    background:#fff;
  }
  /*** new post ***/



  /*.feed-view
  {
    .feed-cards-outer
    {
      .post-card-outer:last-child
      {
        padding-bottom: 16px;
      }
    }

    .card-1
    {
      padding: 16px 8px 0px 8px;
      //background: $cards-list-bg;
      background: #eeeeee;

      a
      {
        text-decoration: none;
      }

      .card-image-anchor
      {
        display: block;
      }

      .card
      {
        // margin: 16px 8px;
        margin: 0px;
      }

      .item-body
      {
        //padding: $card-1-padding;
        padding: 10px;
        border-bottom: none;
        margin-bottom: 0px;
      }

      // $item-avatar-width is an ionic sass variable
      .item-avatar
      {
       // padding: 0px $card-1-padding $card-1-padding ($item-avatar-width + $card-1-padding*2);
        padding: 20px;
        border-top: none;
        border-bottom: none;
        margin-top: 0px;
        min-height: (40px  + 10px);

        .card-avatar-image-outer
        {
          width: 40px;
          position: absolute;
          top: 0px;
          left: 10px;

          img
          {
            max-width: 40px;
            max-height: 40px;
            width: 100%;
            height: 100%;
            border-radius: 2px;
          }
        }
      }

      .avatar-title
      {
        font-size: 14px;
        color: rgba(#000000, .8);
      }

      .avatar-description
      {
        font-size: 12px;
        color: rgba(#000000, .8);
      }

      .card-title
      {
        margin: 0px;
        font-size: 22px;
        font-weight: 200;
        text-transform: capitalize;
        color: rgba(#000000, .8);
      }

      .card-tag
      {
        position: absolute;
        right: 0px;
        bottom: 10px;
        border-radius: 2px 0px 0px 2px;
        padding: 1px 10px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        max-width: 160px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .actions-brief
      {
        padding: 10px;
        padding-top: 10px;
        font-size: 12px;
        font-weight: 300;
      }

      //@include cardActionTabs($card-1-actions-bg, $card-1-actions-color);

      .item.tabs
      {
        background-image: none;

        .tab-item
        {
          &.liked
          {
           // color: $card-1-actions-activated-color;
            font-weight: 500;
          }
        }
      }
    }
  }
*/
}
